---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,alerts&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619401659,"sunrise":1619355895,"sunset":1619406064,"temp":40.01,"feels_like":35.94,"pressure":1006,"humidity":75,"dew_point":32.74,"uvi":0.15,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":290,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619398800,"temp":40.91,"feels_like":35.17,"pressure":1006,"humidity":72,"dew_point":32.59,"uvi":0.51,"clouds":80,"visibility":10000,"wind_speed":9.08,"wind_deg":323,"wind_gust":9.82,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.77,"rain":{"1h":0.32}},{"dt":1619402400,"temp":40.01,"feels_like":33.62,"pressure":1006,"humidity":75,"dew_point":32.74,"uvi":0.15,"clouds":75,"visibility":10000,"wind_speed":10.09,"wind_deg":338,"wind_gust":12.08,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.74},{"dt":1619406000,"temp":40.03,"feels_like":33.55,"pressure":1006,"humidity":74,"dew_point":32.43,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":10.29,"wind_deg":2,"wind_gust":14.5,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.71},{"dt":1619409600,"temp":39.06,"feels_like":32.34,"pressure":1006,"humidity":79,"dew_point":33.12,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":10.31,"wind_deg":22,"wind_gust":16.2,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.71},{"dt":1619413200,"temp":38.25,"feels_like":33.08,"pressure":1007,"humidity":83,"dew_point":33.55,"uvi":0,"clouds":88,"visibility":10000,"wind_speed":6.91,"wind_deg":7,"wind_gust":13.42,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.75,"snow":{"1h":0.1}},{"dt":1619416800,"temp":37.81,"feels_like":34.27,"pressure":1008,"humidity":84,"dew_point":33.42,"uvi":0,"clouds":93,"visibility":7942,"wind_speed":4.56,"wind_deg":319,"wind_gust":9.89,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.75,"rain":{"1h":0.13}},{"dt":1619420400,"temp":37.08,"feels_like":34.14,"pressure":1008,"humidity":85,"dew_point":32.22,"uvi":0,"clouds":100,"visibility":7566,"wind_speed":3.8,"wind_deg":268,"wind_gust":6.96,"w[...]
