---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,%20alerts&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619361221,"sunrise":1619355895,"sunset":1619406064,"temp":37.53,"feels_like":35.17,"pressure":1007,"humidity":65,"dew_point":27.45,"uvi":0.58,"clouds":75,"visibility":10000,"wind_speed":3.33,"wind_deg":222,"wind_gust":6.04,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619359200,"temp":36.86,"feels_like":34.11,"pressure":1007,"humidity":67,"dew_point":27.54,"uvi":0.15,"clouds":64,"visibility":10000,"wind_speed":3.6,"wind_deg":232,"wind_gust":5.39,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.01},{"dt":1619362800,"temp":37.53,"feels_like":35.17,"pressure":1007,"humidity":65,"dew_point":27.45,"uvi":0.58,"clouds":75,"visibility":10000,"wind_speed":3.33,"wind_deg":222,"wind_gust":6.04,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.02},{"dt":1619366400,"temp":38.37,"feels_like":38.37,"pressure":1007,"humidity":62,"dew_point":27.14,"uvi":1.25,"clouds":66,"visibility":10000,"wind_speed":2.28,"wind_deg":207,"wind_gust":6.44,"weather":[{"i[...]
