---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,alerts&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619575097,"sunrise":1619528514,"sunset":1619579010,"temp":58.33,"feels_like":55.47,"pressure":1021,"humidity":34,"dew_point":30.34,"uvi":0.27,"clouds":78,"visibility":10000,"wind_speed":7.25,"wind_deg":342,"wind_gust":9.17,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619571600,"temp":58.5,"feels_like":55.6,"pressure":1020,"humidity":33,"dew_point":29.82,"uvi":0.94,"clouds":82,"visibility":10000,"wind_speed":6.53,"wind_deg":346,"wind_gust":6.73,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619575200,"temp":58.33,"feels_like":55.47,"pressure":1021,"humidity":34,"dew_point":30.34,"uvi":0.27,"clouds":78,"visibility":10000,"wind_speed":7.25,"wind_deg":342,"wind_gust":9.17,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619578800,"temp":56.84,"feels_like":53.96,"pressure":1021,"humidity":37,"dew_point":31.01,"uvi":0,"clouds":78,"visibility":10000,"wind_speed":5.97,"wind_deg":331,"wind_gust":10.51,"weather":[{"id":803,"[...]
