---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,alerts&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619441838,"sunrise":1619442204,"sunset":1619492537,"temp":34.95,"feels_like":34.95,"pressure":1008,"humidity":95,"dew_point":33.67,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.28,"wind_deg":293,"wind_gust":4.85,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1619438400,"temp":34.92,"feels_like":31.51,"pressure":1008,"humidity":93,"dew_point":33.1,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.94,"wind_deg":286,"wind_gust":7.02,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.65},{"dt":1619442000,"temp":34.95,"feels_like":34.95,"pressure":1008,"humidity":95,"dew_point":33.67,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.28,"wind_deg":293,"wind_gust":4.85,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.49},{"dt":1619445600,"temp":34.86,"feels_like":34.86,"pressure":1008,"humidity":92,"dew_point":32.77,"uvi":0.17,"clouds":100,"visibility":10000,"wind_speed":2.1,"wind_deg":298,"wind_gust":4.99,"weather":[{"i[...]
