---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=LOCATION_API_KEY&location=jacksonville,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 02:12:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"jacksonville,fl"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Jacksonville","adminArea5Type":"City","adminArea4":"Duval
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039196","unknownInput":"","type":"s","latLng":{"lat":30.325968,"lng":-81.65676},"displayLatLng":{"lat":30.325968,"lng":-81.65676},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=LOCATION_API_KEY&type=map&size=225,160&locations=30.325968,-81.65676|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1298234128"}]}]}'
  recorded_at: Mon, 26 Apr 2021 02:12:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,alerts&lat=30.325968&lon=-81.65676&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.326,"lon":-81.6568,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619403161,"sunrise":1619347710,"sunset":1619395215,"temp":68.36,"feels_like":68.09,"pressure":1015,"humidity":68,"dew_point":57.4,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.22,"wind_deg":40,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619402400,"temp":68.36,"feels_like":68.09,"pressure":1015,"humidity":68,"dew_point":57.4,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":7.07,"wind_deg":39,"wind_gust":16.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619406000,"temp":68.32,"feels_like":68.11,"pressure":1015,"humidity":69,"dew_point":57.78,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.99,"wind_deg":43,"wind_gust":15.7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619409600,"temp":67.91,"feels_like":67.69,"pressure":1015,"humidity":70,"dew_point":57.78,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.99,"wind_deg":38,"wind_gust":14.09,"weather":[{"id":800,"main":"Clear[...]
