---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,%20alerts&lat=30.325968&lon=-81.65676&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.326,"lon":-81.6568,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619361344,"sunrise":1619347710,"sunset":1619395215,"temp":72.14,"feels_like":72.48,"pressure":1013,"humidity":73,"dew_point":63.01,"uvi":6.13,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619359200,"temp":72.32,"feels_like":72.54,"pressure":1013,"humidity":70,"dew_point":61.99,"uvi":3.57,"clouds":69,"visibility":10000,"wind_speed":11.07,"wind_deg":286,"wind_gust":18.79,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619362800,"temp":72.14,"feels_like":72.48,"pressure":1013,"humidity":73,"dew_point":63.01,"uvi":6.13,"clouds":75,"visibility":10000,"wind_speed":10.89,"wind_deg":284,"wind_gust":17.92,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619366400,"temp":73.58,"feels_like":73.74,"pressure":1013,"humidity":66,"dew_point":61.54,"uvi":8.69,"clouds":65,"visibility":10000,"wind_speed":10.04,"wind_deg":281,"wind_gust":16.44,"weather":[{"id"[...]
