---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely,alerts&lat=30.325968&lon=-81.65676&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":30.326,"lon":-81.6568,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619441837,"sunrise":1619434052,"sunset":1619481654,"temp":68.49,"feels_like":68.88,"pressure":1018,"humidity":82,"dew_point":62.78,"uvi":1.56,"clouds":20,"visibility":10000,"wind_speed":6.91,"wind_deg":360,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1619438400,"temp":68.11,"feels_like":68.38,"pressure":1018,"humidity":80,"dew_point":61.72,"uvi":0.42,"clouds":16,"visibility":10000,"wind_speed":4.59,"wind_deg":24,"wind_gust":9.82,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619442000,"temp":68.49,"feels_like":68.88,"pressure":1018,"humidity":82,"dew_point":62.78,"uvi":1.56,"clouds":20,"visibility":10000,"wind_speed":5.91,"wind_deg":41,"wind_gust":11.5,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619445600,"temp":69.84,"feels_like":70.05,"pressure":1018,"humidity":75,"dew_point":61.56,"uvi":3.59,"clouds":16,"visibility":10000,"wind_speed":7.96,"wind_deg":55,"wind_gust":11.14,"weather":[{"id":801,"ma[...]
