---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=BACKGROUND_API_KEY&per_page=1&query=miami,fl
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=BACKGROUND_API_KEY&page=4005&per_page=1&query=miami%2Cfl>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=BACKGROUND_API_KEY&page=2&per_page=1&query=miami%2Cfl>;
        rel="next"
      X-Total:
      - '4005'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"51125ca792fd6504e4debde241b28d71"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":4005,"total_pages":4005,"results":[{"id":"8HygdQ2SOD4","created_at":"2020-07-14T19:06:01-04:00","updated_at":"2021-04-27T00:15:11-04:00","promoted_at":null,"width":4338,"height":3254,"color":"#d98c0c","blur_hash":"LBO1I^0T^]IaIakARmR-^dV^Szs,","description":"Macro
        of sunflower blossom","alt_description":"yellow flower in macro lens","urls":{"raw":"https://images.unsplash.com/photo-1594767876177-96c189b0e404?ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTYxOTU3NTA4Ng\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1594767876177-96c189b0e404?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTYxOTU3NTA4Ng\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1594767876177-96c189b0e404?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTYxOTU3NTA4Ng\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1594767876177-96c189b0e404?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTYxOTU3NTA4Ng\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1594767876177-96c189b0e404?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTYxOTU3NTA4Ng\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/8HygdQ2SOD4","html":"https://unsplash.com/photos/8HygdQ2SOD4","download":"https://unsplash.com/photos/8HygdQ2SOD4/download","download_location":"https://api.unsplash.com/photos/8HygdQ2SOD4/download?ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxtaWFtaSUyQ2ZsfGVufDB8fHx8MTYxOTU3NTA4Ng"},"categories":[],"likes":10,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"Uuh894GvhmQ","updated_at":"2021-04-27T15:26:45-04:00","username":"adrian_ds","name":"Adrian
        Diaz-Sieckel","first_name":"Adrian","last_name":"Diaz-Sieckel","twitter_username":"emh3","portfolio_url":"http://www.miamirealestate.photography","bio":"I''m
        a real estate photographer, real estate broker, graphics and web designer.
        These are some images I''ve taken over the years that I''m happy to share
        with the rest of the world. I only ask for credit when using my images. It
        helps a lot. Thank you!","location":"South Florida","links":{"self":"https://api.unsplash.com/users/adrian_ds","html":"https://unsplash.com/@adrian_ds","photos":"https://api.unsplash.com/users/adrian_ds/photos","likes":"https://api.unsplash.com/users/adrian_ds/likes","portfolio":"https://api.unsplash.com/users/adrian_ds/portfolio","following":"https://api.unsplash.com/users/adrian_ds/following","followers":"https://api.unsplash.com/users/adrian_ds/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1576505662133-45c222b96569image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1576505662133-45c222b96569image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1576505662133-45c222b96569image?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"emh3_luxury_realestate","total_collections":3,"total_likes":67,"total_photos":44,"accepted_tos":true,"for_hire":true},"tags":[]}]}'
  recorded_at: Wed, 28 Apr 2021 01:58:06 GMT
recorded_with: VCR 6.0.0
