---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=9sFib-rs4teVO2FPjkn2GVNH8f6OTAKUZpg8RPOreQg&per_page=1&query=new%2520york,ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=9sFib-rs4teVO2FPjkn2GVNH8f6OTAKUZpg8RPOreQg&page=10000&per_page=1&query=new%2520york%2Cny>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=9sFib-rs4teVO2FPjkn2GVNH8f6OTAKUZpg8RPOreQg&page=2&per_page=1&query=new%2520york%2Cny>;
        rel="next"
      X-Total:
      - '10000'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"5f3b2e9d381d9d9e385252a7bb75135d"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: ASCII-8BIT
      string: '{"total":10000,"total_pages":10000,"results":[{"id":"pU2VRZ63EKc","created_at":"2018-02-13T18:07:45-05:00","updated_at":"2021-04-25T23:03:51-04:00","promoted_at":"2018-02-14T11:18:14-05:00","width":3353,"height":5029,"color":"#0c4040","blur_hash":"LA8W:FR+NIShBqxZoen%0#SOs,oe","description":null,"alt_description":"aerial
        view of city buildings","urls":{"raw":"https://images.unsplash.com/photo-1518563172008-e56c5dfbaef6?ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxuZXclMjUyMHlvcmslMkNueXxlbnwwfHx8fDE2MTk0NDM3MDM\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1518563172008-e56c5dfbaef6?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxuZXclMjUyMHlvcmslMkNueXxlbnwwfHx8fDE2MTk0NDM3MDM\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1518563172008-e56c5dfbaef6?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxuZXclMjUyMHlvcmslMkNueXxlbnwwfHx8fDE2MTk0NDM3MDM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1518563172008-e56c5dfbaef6?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxuZXclMjUyMHlvcmslMkNueXxlbnwwfHx8fDE2MTk0NDM3MDM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1518563172008-e56c5dfbaef6?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxuZXclMjUyMHlvcmslMkNueXxlbnwwfHx8fDE2MTk0NDM3MDM\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/pU2VRZ63EKc","html":"https://unsplash.com/photos/pU2VRZ63EKc","download":"https://unsplash.com/photos/pU2VRZ63EKc/download","download_location":"https://api.unsplash.com/photos/pU2VRZ63EKc/download?ixid=MnwyMjYzMzV8MHwxfHNlYXJjaHwxfHxuZXclMjUyMHlvcmslMkNueXxlbnwwfHx8fDE2MTk0NDM3MDM"},"categories":[],"likes":526,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"-GdNE_3TB_g","updated_at":"2021-04-26T08:14:56-04:00","username":"onevagabond","name":"Paulo
        Silva","first_name":"Paulo","last_name":"Silva","twitter_username":"0nevagabond","portfolio_url":"https://www.instagram.com/onevagabond/","bio":"Filmmaker.
        Occasional Photographer \u0026 Music Addict. ","location":"New York City,
        NY","links":{"self":"https://api.unsplash.com/users/onevagabond","html":"https://unsplash.com/@onevagabond","photos":"https://api.unsplash.com/users/onevagabond/photos","likes":"https://api.unsplash.com/users/onevagabond/likes","portfolio":"https://api.unsplash.com/users/onevagabond/portfolio","following":"https://api.unsplash.com/users/onevagabond/following","followers":"https://api.unsplash.com/users/onevagabond/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1517505922846-6a34b31fe6e7?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1517505922846-6a34b31fe6e7?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1517505922846-6a34b31fe6e7?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"onevagabond","total_collections":0,"total_likes":609,"total_photos":93,"accepted_tos":true,"for_hire":true},"tags":[]}]}'
  recorded_at: Mon, 26 Apr 2021 13:28:23 GMT
recorded_with: VCR 6.0.0
