---
http_interactions:
- request:
    method: get
    uri: https://mapquestapi.com/geocoding/v1/address?key=LOCATION_API_KEY&location=nice,%20fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Apr 2021 01:58:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"nice,
        fr"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Nice","adminArea5Type":"City","adminArea4":"Maritime
        Alps","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"FR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282392802","unknownInput":"","type":"s","latLng":{"lat":43.700936,"lng":7.268391},"displayLatLng":{"lat":43.700936,"lng":7.268391},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=LOCATION_API_KEY&type=map&size=225,160&locations=43.700936,7.268391|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1347726375"}]}]}'
  recorded_at: Wed, 28 Apr 2021 01:58:15 GMT
recorded_with: VCR 6.0.0
